<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Semester Name</th>
      <th scope="col">Module Code</th>
      <th scope="col">Title</th>
      <th scope="col">Credits</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<data.length; i++) { %>
    <% if (role === data[i].role) { %>
    <tr>
      <td><%= data[i].semester_name%></td>
      <td><%= data[i].module_code%></td>
      <td><%= data[i].title%></td>
      <td><%= data[i].credits%></td>
      <td>
        <a href="/courses/<%=encodeURIComponent(data[i].semester_name)%>/<%=encodeURIComponent(data[i].module_code)%>"
          class="btn btn-primary">
          <i class="far fa-eye"></i>
        </a>
        <% if (canUpdateCourse(user, data[i].semester_name, data[i].module_code)) { %>
        <a href="/courses/<%=encodeURIComponent(data[i].semester_name)%>/<%=encodeURIComponent(data[i].module_code)%>/edit"
          class="btn btn-success">
          <i class="fas fa-edit"></i>
        </a>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% } %>
  </tbody>
</table>