<% for(let i = 0; i < data.length; i = i + 3) { %>
<div class="row mb-3 mt-3">
  <% for(let j = i; j < i + 3 && j < data.length; j++) { %>
  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><%= data[j].module_code%> <%= data[j].title%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= data[j].semester_name%></h6>
        <p class="card-text">Credits: <%= data[j].credits%></p>
        <a href="<%= coursePath(data[j].semester_name, data[j].module_code)%>" class="card-link btn btn-info btn-sm"
          >View Course
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %>
