<h2 class="mt-3 mb-3">Course Requests - <%=role%></h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Semester Name</th>
      <th scope="col">Module Code</th>
      <th scope="col">Title</th>
      <% if (role === 'professor') { %>
      <th scope="col">Requester ID</th>
      <% } %>
      <th scope="col">Status</th>
      <th scope="col">Requested At</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=0; i<data.length; i++) { %>
    <tr>
      <td><%= data[i].semester_name%></td>
      <td><%= data[i].module_code%></td>
      <td><%= data[i].title%></td>
      <% if (role === 'professor') { %>
      <td><%= data[i].requester_id%></td>
      <% } %>
      <% if (data[i].closed_at === null) { %>
      <td>Pending</td>
      <% } else if (data[i].is_approved) { %>
      <td>Approved</td>
      <% } else {%>
      <td>Rejected</td>
      <% } %>
      <td><%= data[i].requested_at%></td>
      <td>
        <a href="<%=coursePath(data[i].semester_name, data[i].module_code)%>" class="btn btn-primary">
          <i class="far fa-eye"></i>
        </a>
        <% if (role === 'professor' && data[i].closed_at === null) { %>
        <form id="course_request_form" style="display:inline;"
          action="<%=courseRequestUpdatePath(data[i].requester_id, data[i].semester_name, data[i].module_code)%>"
          method="POST">
          <input type="hidden" name="_method" value="PUT" />
          <input type="hidden" id="is_approved" name="is_approved" value="true" />
          <input type="hidden" id="requester_id" name="requester_id" value="<%=data[i].requester_id%>" />
          <input type="hidden" id="semester_name" name="semester_name" value="<%=data[i].semester_name%>" />
          <input type="hidden" id="module_code" name="module_code" value="<%=data[i].module_code%>" />
          <button type="submit" class="btn btn-success">
            <i class="far fa-thumbs-up"></i>
          </button>
        </form>
        <form id="course_request_form" style="display:inline;"
          action="<%=courseRequestUpdatePath(data[i].requester_id, data[i].semester_name, data[i].module_code)%>"
          method="POST">
          <input type="hidden" name="_method" value="PUT" />
          <input type="hidden" id="is_approved" name="is_approved" value="false" />
          <input type="hidden" id="requester_id" name="requester_id" value="<%=data[i].requester_id%>" />
          <input type="hidden" id="semester_name" name="semester_name" value="<%=data[i].semester_name%>" />
          <input type="hidden" id="module_code" name="module_code" value="<%=data[i].module_code%>" />
          <button type="submit" class="btn btn-danger">
            <i class="far fa-thumbs-down"></i>
          </button>
        </form>
        <% } %>
        <% if (role === 'student' && data[i].closed_at === null) { %>
        <%- partial('./deleteButton', { action: courseRequestPath(data[i].requester_id, data[i].semester_name, data[i].module_code) } ) %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>