<div class="card-deck">
  <% for(let i = 0; i < data.length; i++) { %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= data[i].module_code%> <%= data[i].title%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= data[i].semester_name%></h6>
      <p class="card-text">Credits: <%= data[i].credits%></p>
      <a href="<%= coursePath(data[i].semester_name, data[i].module_code)%>" class="card-link btn btn-info btn-sm"
        >View Course
      </a>
    </div>
  </div>
  <% } %>
</div>
