<% if (user) { %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <!-- TODO: CHANGE NAME -->
  <a class="navbar-brand" href="/">Course Management System</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (!user.is_admin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=user.id%>/dashboard">
          <i class="fas fa-home"></i>
          Dashboard
        </a>
      </li>
      <% } %>

      <li class="nav-item">
        <a class="nav-link" href="/courses">
          <i class="fa fa-graduation-cap"></i>
          All Courses
        </a>
      </li>
      <% if (!user.is_admin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/course_requests">
          <i class="fas fa-plus-square"></i>
          My Course Requests
        </a>
      </li>
      <% } %> <% if (user.is_admin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/modules">
          <i class="fab fa-leanpub"></i>
          Modules
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/semesters">
          <i class="fa fa-calendar"></i>
          Semesters
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users">
          <i class="fa fa-users"></i>
          Users
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="dropdown ml-auto">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fa fa-user"></i>
      <%=user.id%> - <%=user.name%>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if (user.is_admin) { %>
      <a class="dropdown-item" href="<%= courseNewPath()%>">
        <i class="fas fa-plus"></i>
        New Course
      </a>
      <a class="dropdown-item" href="<%= moduleNewPath()%>">
        <i class="fas fa-plus"></i>
        New Module
      </a>
      <a class="dropdown-item" href="<%= semesterNewPath()%>">
        <i class="fas fa-plus"></i>
        New Semester
      </a>
      <div class="dropdown-divider"></div>
      <% } %>

      <a class="dropdown-item" href="/users/<%=user.id%>/edit">
        <i class="fas fa-user-edit"></i>
        Profile
      </a>
      <a class="dropdown-item" href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </a>
    </div>
  </div>
</nav>
<% } else { %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <!-- TODO: CHANGE NAME -->
  <a class="navbar-brand" href="/">Course Management System</a>
</nav>
<% } %>
