<% layout('layout') -%>
<div class="container col-md-4 col-md-offset-4">
  <h1 class="text-center mt-3 mb-3">Update Group Accesses</h1>
  <%-partial('./partials/messages', { messages: flash() })%>
  <form id="access_form" action="<%=accessesPath(semester_name, module_code, title)%>" role="form" method="POST">
    <div class="form-group">
      <label for="semester_name">Semester Name</label>
      <input
        type="text"
        class="form-control"
        id="semester_name"
        name="semester_name"
        value="<%= semester_name %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="module_code">Module Code</label>
      <input type="text" class="form-control" id="module_code" name="module_code" value="<%= module_code %>" readonly />
    </div>
    <div class="form-group">
      <label for="title">Forum Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required="required"
        value="<%= title %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="group_names">Accessed by</label>
      <select multiple class="form-control" id="group_names" name="group_names">
        <% for(let i = 0; i < options.length; i++) { %>
        <option><%= options[i].name%></option>
        <% } %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
