<% layout('layout') -%>
<div class="container mt-3">
  <%-partial('./partials/messages', { messages: flash() })%>
  <h1 class="mt-3 mb-3">
    <%= course.module_code %> <%= course.title %>
  </h1>
  <h2><small class="text-muted"><%= course.semester_name %></small></h2>
  <p class="h6">Course Description:</p>
  <p><%= course.description %></p>
  <% if (permissions.can_view_members) { %>
  <div style="display: inline; margin-right:1.5em">
    <a href="<%= courseMembershipsPath(course.semester_name, course.module_code) %>" class="btn btn-primary">
      <i class="far fa-eye"></i>
      Members
    </a>
  </div>
  <% } %> <% if (permissions.can_add_member) { %>
  <div style="display: inline">
    <a href="<%= courseMembershipNewPath(course.semester_name, course.module_code)%>" class="btn btn-outline-primary">
      <i class="fas fa-user-plus"></i> Add Member
    </a>
  </div>
  <% } else if(permissions.can_add_ta) { %>
  <div style="display: inline">
    <a href="<%= courseMembershipNewPath(course.semester_name, course.module_code)%>" class="btn btn-outline-primary">
      <i class="fas fa-user-plus"></i> Add Teaching Assistant
    </a>
  </div>
  <% } %> <% if (permissions.can_request_course) { %>
  <form id="course_request_form" action="<%=courseRequestsPath(user.id)%>" method="POST" style="display: inline">
    <input type="hidden" id="requester_id" name="requester_id" value="<%=user.id%>" />
    <input type="hidden" id="semester_name" name="semester_name" value="<%=course.semester_name%>" />
    <input type="hidden" id="module_code" name="module_code" value="<%=course.module_code%>" />
    <button type="submit" class="btn btn-outline-primary">
      <i class="far fa-plus"></i>
      Request to Join
    </button>
  </form>
  <% } %>

  <hr class="mt-5 mb-5" />

  <h2>
    Groups (<%= groups.length %>) <% if (permissions.can_create_group) { %>
    <div class="float-right" style="display: inline">
      <a href="<%= groupNewPath(course.semester_name, course.module_code) %>" class="btn btn-outline-primary">
        <i class="far fa-plus"></i>
        New Group
      </a>
    </div>
    <% } %>
  </h2>
  <table class="mb-5 table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < groups.length; i++) { %>
      <tr>
        <td><%= groups[i].name%></td>
        <td>
          <a href="<%= groupPath(course.semester_name, course.module_code, groups[i].name) %>" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <% if (permissions.can_update_group) { %>
          <a
            href="<%= groupEditPath(course.semester_name, course.module_code, groups[i].name) %>"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </a>
          <% } %> <% if (permissions.can_delete_group) { %> <%-partial('./partials/deleteButton',{ action:
          groupPath(course.semester_name, course.module_code, groups[i].name) })%> <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <h2>
    Forums (<%= forums.length %>)<% if (permissions.can_create_forum) { %>
    <div class="float-right" style="display: inline">
      <a href="<%= forumNewPath(course.semester_name, course.module_code) %>" class="btn btn-outline-primary">
        <i class="far fa-plus"></i>
        New Forum
      </a>
    </div>
    <% } %>
  </h2>
  <table class="mb-5 table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < forums.length; i++) { %>
      <tr>
        <td><%= forums[i].title%></td>
        <td>
          <a href="<%= forumPath(course.semester_name, course.module_code, forums[i].title) %>" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <% if (permissions.can_update_forum) { %>
          <a
            href="<%= forumEditPath(course.semester_name, course.module_code, forums[i].title) %>"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </a>
          <% } %> <% if (permissions.can_delete_forum) { %> <%-partial('./partials/deleteButton',{ action:
          forumPath(course.semester_name, course.module_code, forums[i].title) })%> <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
