<% layout('layout') -%>
<div class="container mt-3">
  <%-partial('./partials/messages', { messages: flash() })%>
  <h1 class="mt-3 mb-3"><%= course.module_code %> <%= course.title %></h1>
  <h2><small class="text-muted"><%= course.semester_name %></small></h2>
  <p class="h6">Course Description: <%= course.description %></p>
  <hr class="mt-5 mb-5" />
  <h2>
    Groups <% if (canCreateGroup(user, course.semester_name, course.module_code)) { %>
    <div class="float-right" style="display: inline">
      <a href="<%= groupNewPath(course.semester_name, course.module_code) %>" class="btn btn-outline-primary">
        <i class="far fa-plus"></i>
        New Group
      </a>
    </div>
    <% } %>
  </h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < groups.length; i++) { %>
      <tr>
        <td><%= groups[i].name%></td>
        <td>
          <% if (canShowGroup(user, course.semester_name, course.module_code, groups[i].name)) { %>
          <a href="<%= groupPath(course.semester_name, course.module_code, groups[i].name) %>" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <% } %> <% if (canUpdateGroup(user, course.semester_name, course.module_code)) { %>
          <a
            href="<%= groupEditPath(course.semester_name, course.module_code, groups[i].name) %>"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </a>
          <% } %> <% if (canDeleteGroup(user, course.semester_name, course.module_code)) { %>
          <%-partial('./partials/deleteButton',{ action: groupPath(course.semester_name, course.module_code,
          groups[i].name) })%> <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <h2>
    Forums <% if (canCreateForum(user, course.semester_name, course.module_code)) { %>
    <div class="float-right" style="display: inline">
      <a href="<%= forumNewPath(course.semester_name, course.module_code) %>" class="btn btn-outline-primary">
        <i class="far fa-plus"></i>
        New Forum
      </a>
    </div>
    <% } %>
  </h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < forums.length; i++) { %>
      <tr>
        <td><%= forums[i].title%></td>
        <td>
          <% if (canShowForum(user, course.semester_name, course.module_code, forums[i].title)) { %>
          <a href="<%= forumPath(course.semester_name, course.module_code, forums[i].title) %>" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <% } %> <% if (canUpdateForum(user, course.semester_name, course.module_code)) { %>
          <a
            href="<%= forumEditPath(course.semester_name, course.module_code, forums[i].title) %>"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </a>
          <% } %> <% if (canDeleteForum(user, course.semester_name, course.module_code)) { %>
          <%-partial('./partials/deleteButton',{ action: forumPath(course.semester_name, course.module_code,
          forums[i].title) })%> <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
