<%- layout('layout') %>
<div class="container">
    <%- partial('./partials/messages', { messages: flash() }) %>
    <h2 class="mt-3 mb-3">
        Course requests <%= course ? `for ${course.semester_name} ${course.module_code} ${course.title}` : `submitted by ${user.name}` %>
    </h2>
    <!--For Course-->
    <% if (course) { %>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Requester ID</th>
                <th scope="col">Requester Name</th>
                <th scope="col">Requested At</th>
                <th scope="col">Status</th>
                <th scope="col">Processed at</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < requests.length; i++) { %>
                <tr>
                    <td><%= requests[i].requester_id %></td>
                    <td><%= requests[i].requester_name %></td>
                    <td><%= timestampToDisplayedForm(requests[i].requested_at) %></td>
                    <td><%= requests[i].status %></td>
                    <td><%= requests[i].closed_at ? timestampToDisplayedForm(requests[i].closed_at) : 'Not processed yet' %></td>
                    <td>
                        <% if (requests[i].closed_at === null) { %>
                            <form action="<%= courseRequestPath(course.semester_name, course.module_code, requests[i].requester_id) %>"
                                  method="POST" style="display: inline">
                                <input type="hidden" name="_method" value="PUT"/>
                                <input type="hidden" name="is_approved" value="true"/>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i>
                                </button>
                            </form>
                            <form action="<%= courseRequestPath(course.semester_name, course.module_code, requests[i].requester_id) %>"
                                  method="POST" style="display: inline">
                                <input type="hidden" name="_method" value="PUT"/>
                                <input type="hidden" name="is_approved" value="false"/>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } else { %>
        <!--For student-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Semester Name</th>
                <th scope="col">Module Code</th>
                <th scope="col">Course Title</th>
                <th scope="col">Requested at</th>
                <th scope="col">Status</th>
                <th scope="col">Processed at</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < requests.length; i++) { %>
                <tr>
                    <td><%= requests[i].semester_name %></td>
                    <td><%= requests[i].module_code %></td>
                    <td><%= requests[i].title %></td>
                    <td><%= timestampToDisplayedForm(requests[i].requested_at) %></td>
                    <td><%= requests[i].status %></td>
                    <td><%= requests[i].closed_at ? timestampToDisplayedForm(requests[i].closed_at) : 'Not processed yet' %></td>
                    <td>
                        <% if (requests[i].closed_at === null) { %>
                            <form action="<%= courseRequestPath(requests[i].semester_name, requests[i].module_code, requests[i].requester_id) %>"
                                  method="POST" style="display: inline">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <button type="submit" class="btn btn-danger">
                                    <i class="far fa-times"> Cancel</i>
                                </button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>
