<% layout('layout') -%>
<div class="container col-md-4 col-md-offset-4">
  <h1 class="text-center mt-3 mb-3">Update Course</h1>
  <%-partial('./partials/messages', { messages: flash() })%>
  <form id="course_form"
    action="<%=coursePath(course.semester_name, course.module_code)%>"
    role="form" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
      <label for="semester_name">Semester Name</label>
      <select class="form-control" id="semester_name" name="semester_name" required="required">
        <% for(var i=0; i<semesters.length; i++) { %>
        <% if (semesters[i].name === course.semester_name) { %>
        <option selected><%= semesters[i].name%></option>
        <% } else { %>
        <option><%= semesters[i].name%></option>
        <% } %>
        <% } %>
      </select>
    </div>
    <div class="form-group">
      <label for="module_code">Module Code</label>
      <select class="form-control" id="module_code" name="module_code" required="required"
        value="<%=course.module_code%>">
        <% for(var i=0; i<modules.length; i++) { %>
        <% if (modules[i].module_code === course.module_code) { %>
        <option selected><%= modules[i].module_code%></option>
        <% } else { %>
        <option><%= modules[i].module_code%></option>
        <% } %>
        <% } %>
      </select>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" required="required" value="<%=course.title%>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description"
        required="required"><%=course.description%></textarea>
    </div>
    <div class="form-group">
      <label for="credits">Credits</label>
      <input type="number" class="form-control" id="credits" name="credits" required="required"
        value="<%=course.credits%>">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
