<% layout('layout') -%>
<div class="container mt-3">
  <%-partial('./partials/messages', { messages: flash() })%>
  <h1 class="mt-3 mb-3"><%= group.module_code %></h1>
  <h2><small class="text-muted"><%= group.semester_name %></small></h2>
  <p class="h6">Group: <%= group.name %></p>
  <p class="h6">
    The TA(s) of the group is/are: <% if (canEditAccess(user, group.semester_name, group.module_code)) { %>
    <a href="#">
      <i class="fa fa-pencil"></i>
    </a>
    <% } %>
  </p>
  <div id="TAs">
    <% if (TA_names.length === 0) { %>
    <p><small class="text-muted">Currently no TA is in charge of this group.</small></p>
    <% } %> <% for (var i = 0; i < TA_names.length; i++) { %>
    <a href="#" class="btn btn-info btn-sm">
      <%= TA_names[i].name%>
    </a>
    <% } %>
  </div>

  <h2 class="mt-3 mb-3">Students</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < students.length; i++) { %>
      <tr>
        <td><%= students[i].user_id %></td>
        <td><%= students[i].name %></td>
        <td>
          <a href="#" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <%-partial('./partials/deleteButton', {
            action: groupmembershipPath(group.semester_name, group.module_code,
            group.name, students[i].user_id) })%>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
