<% layout('layout') -%>
<div class="container col-md-4 col-md-offset-4">
  <h1 class="text-center mt-3 mb-3">Update Semester</h1>
  <%-partial('./partials/messages', { messages: flash() })%>
  <form id="semester_form" action="<%= semesterPath(semester.name)%>" role="form" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
      <label for="name">Semester Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="nameHelp"
        required="required"
        value="<%=semester.name%>"
      />
      <small id="nameHelp" class="form-text text-muted">
        Once there are courses offered in this semester, semester name cannot be edited.
      </small>
    </div>
    <div class="form-group">
      <label for="start_time">Start Time</label>
      <input
        type="date"
        class="form-control"
        id="start_time"
        name="start_time"
        required="required"
        value="<%=semester.start_time%>"
      />
    </div>
    <div class="form-group">
      <label for="end_time">End Time</label>
      <input
        type="date"
        class="form-control"
        id="end_time"
        name="end_time"
        required="required"
        value="<%=semester.end_time%>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
