<% layout('layout') -%>
<div class="container">
  <h1 class="mt-3 mb-3">Semesters
    <div class="float-right" style="display: inline">
      <a href="<%= semesterNewPath()%>" class="btn btn-outline-primary">
        <i class="far fa-plus"></i>
        New Semester
      </a>
    </div>
  </h1>
  <%-partial('./partials/messages', messages)%>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Semester Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<data.length; i++) { %>
      <tr>
        <td><%= data[i].name%></td>
        <td><%= data[i].start_time%></td>
        <td><%= data[i].end_time%></td>
        <td>
          <a href="<%= coursesPath()%>?semester_name=<%= encodeURIComponent(data[i].name)%>" class="btn btn-primary">
            <i class="far fa-eye"></i>
          </a>
          <a href="<%= semesterEditPath(data[i].name)%>" class="btn btn-success">
            <i class="fas fa-edit"></i>
          </a>
          <%-partial('./partials/deleteButton', { action: semesterPath(data[i].name) })%>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
